<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head "></head>

<body>
    <nav th:replace="/fragments/nav "></nav>
    <div class="video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/9RS9vs01n-U" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <br><br>
        <p><b>MSD GROUP</b>, MSD is one of the Top 10 Engineering Colleges in Mumbai, Maharastra which was set up under the aegis of Mks Educational and Social Trust in 2001. The college offers a multitude of under graduate and post graduate degree courses in different branches of engineering and management. Proximity of regions premier educational and research institutes like National Institute of Technology, Maharastra; Indian Institute of Technology, Bombay; have resulted in vast pool of intellectual capital. Today, its infrastructure includes airy classrooms, well-equipped laboratories, safe and secure hostels for boys and girls, Multigym, Greenfield playgrounds to name a few. Many high profile Ministers, dignitaries and Academicians of national repute have visited and praised the college campus and its infrastructure.
        </p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer th:replace="/fragments/foot"></footer>
    <footer th:replace="/fragments/footer"></footer>
</body>

</html>