<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragments/head "></head>
<body>
    <nav th:replace="/fragments/nav "></nav>
    
    <ul class="list-group">
        <h1>Courses</h1>
        <div class="blink-bg">Undergraduate Courses</div>
      
        <li class="list-group-item list-group-item-primary">Computer Science & Engineering (CSE)</li>
        <li class="list-group-item list-group-item-secondary">Information Technology (IT)</li>
        <li class="list-group-item list-group-item-success">Electrical Engineering (EE)</li>
        <li class="list-group-item list-group-item-danger">Civil Engineering (CE)</li>
        <li class="list-group-item list-group-item-warning">Electronics & Communication Engineering (ECE)</li>
        <li class="list-group-item list-group-item-info">Mechanical Engineering (ME)</li>

        <div class="blink-bg">Post Graduate Courses</div>
        <li class="list-group-item list-group-item-danger">Master of Business Administration (MBA)</li>

        <div class="blink-bg">Other Courses</div>
        <li class="list-group-item list-group-item-secondary">Bachelor of Computer Application (BCA)</li>
        <li class="list-group-item list-group-item-success">Bachelor of Business Administration (BBA)</li>
    
    </ul><br><br><br><br><br>
    <footer th:replace="/fragments/foot"></footer>
</body>
</html>