<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head "></head>

<body>

    <nav th:replace="/fragments/nav "></nav>
    <div class="faculty">
        <h2>
            Faculty List
        </h2>
        <br>
        <br>
        <table class="table" style="margin-right: 50px;background-color: aliceblue;">


            <thead>
                <tr>
                    <th class="th-s1">SL No.</th>
                    <th class="th-s2">Faculty<br>List</th>
                    <th class="th-s3">Department</th>
                    <th class="th-s3">Designation</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">1</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Bipul Sen</td>
                    <td style="background-color:lightgray;color:black;">CSE</td>
                    <td style="background-color: lightgray;color:black;">HOD</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">2</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Surparna Das</td>
                    <td style="background-color:aliceblue;color:black;">CSE</td>
                    <td style="background-color: aliceblue;color:black;">Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">3</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Monomoy Chatterjee</td>
                    <td style="background-color:lightgray;color:black;">CSE</td>
                    <td style="background-color: lightgray;color:black;">Associate Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">4</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Ridhimma Ghosh</td>
                    <td style="background-color:aliceblue;color:black;">CSE</td>
                    <td style="background-color: aliceblue;color:black;">Associate Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">5</th>
                    <td style="background-color:lightgray;color:black;">Mr.Prabal Dasgupta</td>
                    <td style="background-color:lightgray;color:black;">CSE</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>

                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">6</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Artrika Mukherjee</td>
                    <td style="background-color:aliceblue;color:black;">IT</td>
                    <td style="background-color: aliceblue;color:black;">HOD</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">7</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Shayamalendu Mitra</td>
                    <td style="background-color:lightgray;color:black;">IT</td>
                    <td style="background-color: lightgray;color:black;">Associate Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">8</th>
                    <td style="background-color:aliceblue;color:black;">Ms.Barnali Bhoumick</td>
                    <td style="background-color:aliceblue;color:black;">IT</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">9</th>
                    <td style="background-color:lightgray;color:black;">Mrs.Moumita Sikdar</td>
                    <td style="background-color:lightgray;color:black;">IT</td>
                    <td style="background-color: lightgray;color:black;">Associate Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">10</th>
                    <td style="background-color:aliceblue;color:black;">Mr.Abhinav Sil</td>
                    <td style="background-color:aliceblue;color:black;">IT</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">11</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Rahul Roy</td>
                    <td style="background-color:lightgray;color:black;">Civil</td>
                    <td style="background-color: lightgray;color:black;">HOD</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">12</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Supriya Mondal </td>
                    <td style="background-color:aliceblue;color:black;">Civil</td>
                    <td style="background-color: aliceblue;color:black;">Associate Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">13</th>
                    <td style="background-color:lightgray;color:black;">Ms.Nandita Palit</td>
                    <td style="background-color:lightgray;color:black;">Civil</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">14</th>
                    <td style="background-color:aliceblue;color:black;">Mr.Sanjay Sharma </td>
                    <td style="background-color:aliceblue;color:black;">Civil</td>
                    <td style="background-color: aliceblue;color:black;">Associate Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">15</th>
                    <td style="background-color:lightgray;color:black;">Mr.Azzarundin Kha</td>
                    <td style="background-color:lightgray;color:black;">Civil</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">16</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Geetanjali Thakur </td>
                    <td style="background-color:aliceblue;color:black;">EE</td>
                    <td style="background-color: aliceblue;color:black;">HOD</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">17</th>
                    <td style="background-color:lightgray;color:black;">Mr.Rajib Kumar</td>
                    <td style="background-color:lightgray;color:black;">EE</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">18</th>
                    <td style="background-color:aliceblue;color:black;">Mrs.Sulagna Das </td>
                    <td style="background-color:aliceblue;color:black;">EE</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">19</th>
                    <td style="background-color:lightgray;color:black;">Mr.Chandan Mukherjee.</td>
                    <td style="background-color:lightgray;color:black;">EE</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">20</th>
                    <td style="background-color:aliceblue;color:black;">Mrs.diana Lewis </td>
                    <td style="background-color:aliceblue;color:black;">EE</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>


                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">21</th>
                    <td style="background-color:lightgray;color:black;">Mr.Shivam Singh</td>
                    <td style="background-color:lightgray;color:black;">EE</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">22</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Kalyan Sinha </td>
                    <td style="background-color:aliceblue;color:black;">ECE</td>
                    <td style="background-color: aliceblue;color:black;">HOD</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">23</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Sucharita Guha</td>
                    <td style="background-color:lightgray;color:black;">ECE</td>
                    <td style="background-color: lightgray;color:black;">Associate Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">24</th>
                    <td style="background-color:aliceblue;color:black;">Mr.MohanLal Saxena </td>
                    <td style="background-color:aliceblue;color:black;">ECE</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">25</th>
                    <td style="background-color:lightgray;color:black;">Chetna Pathak</td>
                    <td style="background-color:lightgray;color:black;">ECE</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">26</th>
                    <td style="background-color:aliceblue;color:black;">Mr.Pranab Gupta </td>
                    <td style="background-color:aliceblue;color:black;">ECE</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">27</th>
                    <td style="background-color:lightgray;color:black;">(Dr.)Niladri Mukherjee</td>
                    <td style="background-color:lightgray;color:black;">ME</td>
                    <td style="background-color: lightgray;color:black;">HOD</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">28</th>
                    <td style="background-color:aliceblue;color:black;">Mr.Nilkanta Sen </td>
                    <td style="background-color:aliceblue;color:black;">ME</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">29</th>
                    <td style="background-color:aliceblue;color:black;">Mr.Debdip Satpati </td>
                    <td style="background-color:aliceblue;color:black;">BCA</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">30</th>
                    <td style="background-color:lightgray;color:black;">Ms.Bristi Saha </td>
                    <td style="background-color:lightgray;color:black;">BCA</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">31</th>
                    <td style="background-color:aliceblue;color:black;">(Dr.)Rakhi Naskar </td>
                    <td style="background-color:aliceblue;color:black;">BBA</td>
                    <td style="background-color: aliceblue;color:black;">HOD</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">32</th>
                    <td style="background-color:lightgray;color:black;">Mrs.Promila Mitra</td>
                    <td style="background-color:lightgray;color:black;">BBA</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">33</th>
                    <td style="background-color:aliceblue;color:black;"> Mr.Ronit d'souza </td>
                    <td style="background-color:aliceblue;color:black;">BBA</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">34</th>
                    <td style="background-color:lightgray;color:black;">Mr.Asutosh Chakraborty</td>
                    <td style="background-color:lightgray;color:black;">BBA</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">35</th>
                    <td style="background-color:aliceblue;color:black;"> (Dr.)Durgadas Banerjee </td>
                    <td style="background-color:aliceblue;color:black;">MBA</td>
                    <td style="background-color: aliceblue;color:black;">HOD</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">36</th>
                    <td style="background-color:lightgray;color:black;">Mrs.Sampurna Chakraborty</td>
                    <td style="background-color:lightgray;color:black;">MBA</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:aliceblue;color: black;">37</th>
                    <td style="background-color:aliceblue;color:black;"> Mr.Anupam Guha </td>
                    <td style="background-color:aliceblue;color:black;">MBA</td>
                    <td style="background-color: aliceblue;color:black;">Assistant Professor</td>



                </tr>
                <tr>
                    <th scope="row" style="background-color:lightgray;color: black;">38</th>
                    <td style="background-color:lightgray;color:black;">Mr.Mohan Das</td>
                    <td style="background-color:lightgray;color:black;">MBA</td>
                    <td style="background-color: lightgray;color:black;">Assistant Professor</td>
                </tr>


            </tbody>
        </table>
            <footer th:replace="/fragments/foot"></footer>
</body>

</html>