<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head "></head>

<body>

    <nav th:replace="/fragments/nav "></nav>
    <div class="fee">
        <h2>
            Fee Structure
        </h2>

        <h4>
            Semester Wise Fees Structure Of Various Courses
        </h4>
        <table class="table" style="margin-right: 50px;background-color: aliceblue;">


            <thead>
                <tr>
                    <th class="th-sm1" style="background-color: black;color: white;">SL No.</th>
                    <th class="th-sm2" style="background-color: black;color:white;">B.Tech<br>(4 years)</th>
                    <th class="th-sm3" style="background-color: black;color:white;">MBA<br>(2 years)</th>
                    <th class="th-sm4" style="background-color: black;color:white;">BCA<br>(3 years)</th>
                    <th class="th-sm5" style="background-color: black;color:white;">BBA<br>(3 years)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">1</th>
                    <td style="background-color:grey;">61,150.00</td>
                    <td style="background-color:grey;">80,300.00</td>
                    <td style="background-color: grey;">43,850.00</td>
                    <td style="background-color: grey;">43,850.00</td>

                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">2</th>
                    <td style="background-color:lightgrey;">42,450.00</td>
                    <td style="background-color:lightgrey;">75,200.00</td>
                    <td style="background-color: lightgrey; ">25,200.00</td>
                    <td style="background-color: lightgrey;">25,200.00</td>

                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">3</th>
                    <td style="background-color:grey;">43,450.00</td>
                    <td style="background-color:grey;">75,200.00</td>
                    <td style="background-color: grey; ">25,200.00</td>
                    <td style="background-color: grey;">25,200.00</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">4</th>
                    <td style="background-color:lightgrey;">43,450.00</td>
                    <td style="background-color:lightgrey;">75,200.00</td>
                    <td style="background-color: lightgrey; ">25,200.00</td>
                    <td style="background-color: lightgrey;">25,200.00</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">5</th>
                    <td style="background-color:grey;">44,450.00</td>
                    <td style="background-color:grey;">-</td>
                    <td style="background-color: grey; ">25,200.00</td>
                    <td style="background-color: grey;">25,200.00</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">6</th>
                    <td style="background-color:lightgrey;">44,450.00</td>
                    <td style="background-color:lightgrey;">-</td>
                    <td style="background-color: lightgrey; ">25,200.00</td>
                    <td style="background-color: lightgrey;">25,200.00</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">7</th>
                    <td style="background-color:grey;">45,450.00</td>
                    <td style="background-color:grey;">-</td>
                    <td style="background-color: grey; ">-</td>
                    <td style="background-color: grey;">-</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: black;color: white;">8</th>
                    <td style="background-color:lightgrey;">45,450.00</td>
                    <td style="background-color:lightgrey;">-</td>
                    <td style="background-color: lightgrey; ">-</td>
                    <td style="background-color: lightgrey;">-</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color:black;color:white;">Total</th>
                    <td style="background-color:black;color:whitesmoke">3,70,300.00</td>
                    <td style="background-color:black;color:whitesmoke">3,05,900.00</td>
                    <td style="background-color:black;color: whitesmoke; ">169,850.00</td>
                    <td style="background-color:black;color:whitesmoke">169,850.00</td>
                </tr>

        </table>
    </div>

    <footer th:replace="/fragments/foot"></footer>
</body>

</html>